.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

h1,h2,h3, h4{
  font-family:Droid Sans;
}
p,li,a{
  font-family: Lora;
}

.logo{
  top: 0;
  color: black;
  font-size: 16px;
  z-index: 2;
  margin: 1em;
  position: absolute;
  font-family: Cabin, sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #441369;
}
.title{
  font-family: Cabin, sans-serif;
  font-weight: 600;
  /*font-style: italic;*/
  color: #441369; 
  font-size: 16px;
}


/* Buttons */
    .signin-btn{
      width: 100%;
      margin: 0 auto;
      color: white;
      border:0;
      box-shadow: none;
      margin-bottom: 8px;
      padding: 11px;
    }
    .facebook-btn{
      background-color: #333396;
    }
    .twitter-btn{
      background-color: #00aced;
    }


/* Icons */
    .centerElement{
      position: absolute;
      /*top: 50%;*/
      top: 16em;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8em;
      width: 8em;
    }
    .addEntryIcon{
      background: url('../images/addEntry.svg') no-repeat center;
      position: absolute;
      cursor: pointer;
    }
    .addEntryIconSmall{
      background: url('../images/addEntry.svg') no-repeat center;
      /*position: absolute;*/
      padding: 2em;
      background-size: 32px;
    }
    .addEntryIconLarge{
      padding: 4em;
      background-size: 4em;
      margin: 0 auto;
    }
    .profile-gray{
      background: url('../images/profile-gray.svg') no-repeat center;
      padding: 1em;
      /*padding-top: 0em;*/
      background-size: 16px;
      padding-top: 0em;
    }
    .profile-orange{
      background: url('../images/profile-orange.svg') no-repeat center;
      padding: 1em;
      background-size: 16px;
    }
    .completeCheck{
      background: url('../images/completeCheck.svg') no-repeat center;
      padding: 4em;
      background-size: 5em;
    }

    .posts-gray{
      background: url('../images/list-gray.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 32px;
    }
    .write-gray{
      background: url('../images/write-gray.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 46px;
    }
    .profile-gray{
      background: url('../images/profile-gray.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 26px;
    }
    .posts-blue{
      background: url('../images/list-blue.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 32px;
    }
    .write-blue{
      background: url('../images/write-blue.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 46px;
    }
    .profile-blue{
      background: url('../images/profile-blue.svg') no-repeat center;
      /*padding: 1em;*/
      background-size: 26px;
    }


.contentContainer{
  margin: 10px;
  margin-top: 4em;
}
.continueFlow{
  color: #377CC4;
}


.tabs-positive > .tabs{
  /*background-color: #A7A7A7;
  border-color: #A7A7A7;*/
  background-color: #171717;
  border-color: #171717;

}
.tab-title{
  color:gray;
}
.tab-item .icon{
  margin-top: 6px;
}

/* Pages */
  /* login and signup */
    #login h1{
      margin-top: 3em;
      font-size: 28px;
      font-weight: bolder;
    }
    #login h3{
      font-size: 14px;
      margin-bottom: 23px;
    }
    #login h1,
    #login h3{
      text-align: center;
    }
    .underline{
      text-decoration:underline;
    }

  #landing .addEntryIcon{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 45%;
  }
  textarea{
    resize: none !important;
    width: 100%;
    min-height: 70px;
    font-size: 16px;
    font-family: Lora;
    line-height: 24px;
  }
  #writeContainer input{
    font-family: Lora;
    padding: 8px 0;
    border: 0;
    font-size: 26px;
  }
  
  /* Post Complete */
    #postComplete{
      margin: 0 auto;
      text-align: center;
      margin-top:30%;
    }
    #postComplete > div:nth-of-type(1){
      /*overflow: hidden;*/
      /*margin: 4em;*/
    }
    #postComplete > div:nth-of-type(2){
      height: 3em;
      padding-top: 1em;
    }
    .homeBtn{
      background-color: #4C3082;
      padding: 7px 26px;
      border: 0px;
      color: white;
      border-radius: 6px;
      margin-top: 4em;
    }
    .postPreviewContainer{
      margin:10px;
      margin-bottom: 40px;
      margin-top: 17px;
    }

  /* Profile */
    #postsContainer{}
    #profile .bar h2{
      display: inline-block;
      font-size: 14px;
      margin: 10px;
      margin-left: 5em;
    }
    #profile .addEntryIconSmall{
      bottom: 0;
      position: absolute;
      right: 0;
    }
    #profile .scroll-content{
      margin-top: 50px;
    }
    .singlePost{
      padding: 6px;
      overflow: hidden;
      border-top: 1px solid #dedede;
      position: relative;
      /*border-bottom: 1px solid #dedede;*/
    }
    .singlePost h5{
      /*color: #B3B3B3;*/
      font-size: 12px;
      font-family: Droid Sans;
      /*width: 100%;*/
      /*background: #001E40;*/
      /*padding: 5px 12px;*/
      /*text-align: center;*/
    }
    .leftPostInfo{
      float: left;
      width: 11%;
      margin-left: 11px;
    }
    .leftPostInfo h6{
      font-family: Droid Sans;
      font-size: 10px;
      margin: 0;
      margin-left: 6px;
    }
    .leftPostInfo h5{
      font-size: 10px;
      margin: 0;
      margin-left: 4px;
      margin-bottom: -4px;
      color: #004492;
    }
    .leftPostInfo h3{
      font-size: 28px;
      margin: 0;
      color: #001E40;    
      font-family: Ubuntu;
      margin-top: 14px;
    }
    .rightPostInfo{
      width: 85%;
      float: left;
    }
    .rightPostInfo h4{
      font-size: 12px;
      color: #BBBBBB;
      font-family: Ubuntu;
      margin: 0;
      position: absolute;
      right: 0;
      margin-right: 9px;
    }

    .singlePost p,
    .singlePost pre{
      color: #171717;
      font-size: 15px;
      margin-left: 5px;
      font-family: Droid Sans;
      line-height: 22px;
      width: 92%;
    }
    .tag{
      font-size: 12px;
      color: #0060CA;
    }
    .partialHr{
      width: 5em;
      color: #dedede;
      /*text-align: left;*/
      margin-left: 0em;
    }

  /* addtags */
  #addtags input{
    font-family: Droid Sans;
    font-size: 20px;
    border: 0px;
    border-bottom: 2px solid black;
    margin-bottom: 2em;
  }
  #addtags form div{
    /*position: relative;*/
  }
  .inputHelperText{
    position: absolute;
    right: 0;
    color: #CCCCCC;
    margin-top: -63px;
    font-size: 12px;
    font-family: Lora;
  }
  .tagContainer{
    padding: 2px;
  }
  .tagContainer h4{
    margin-left:17px;
    cursor: pointer;
  }

  .selectedTag{
    width: 12px;
    height: 12px;
    background-color: #39DACC;
    border-radius: 100%;
    position: absolute;
    margin-top: 15px;
  }
  .backBtn{
    margin-top: 3em;
    color: #3C0F3C;
    text-decoration: underline;
    font-family: Ubuntu;
    cursor: pointer;
  }



  /* Complete Spinner */
    .checkmark {
      width: 100px;
      margin: 0 auto;
      padding-top: 40px;
    }

    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      animation: dash 2s ease-in-out;
      -webkit-animation: dash 2s ease-in-out;
    }

    .spin {
      animation: spin 2s;
      -webkit-animation: spin 2s;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
    }



    @-webkit-keyframes dash {
     0% {
       stroke-dashoffset: 1000;
     }
     100% {
       stroke-dashoffset: 0;
     }
    }

    @keyframes dash {
     0% {
       stroke-dashoffset: 1000;
     }
     100% {
       stroke-dashoffset: 0;
     }
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

@media (min-width: 1200px){
  .bar .title{
    left: 0;
    right: initial;
    font-size: 22px;

  }
  .bar .bar-header,
  .bar-header{
    border-bottom: 0;
  }

  /* */
  .tabs{
    display: block;
  }
  .tabs-positive > .tabs{
    background-color: initial;
    border:0;
    top: initial;
    bottom: initial;
    margin-top: 7em;
    width: 20em;
  }
  .tabs a{
    height: 8em;
  }

  #postsContainer{
    width: 53%;
    margin:0 auto;
  }
  #writeContainer{
    width: 50%;
    margin:0 auto; 
    margin-top: 7em;
  }
    #writeContainer textarea{
      font-size: 22px;
      line-height: 32px;
    }
    #writeContainer h4{
      color: #E4E4E4;
      margin-top:2em;
    }
  #addtags{
    width: 50%;
    margin:0 auto; 
  }
  #addtags h2{
    margin-bottom: 3em;
    text-align: center;
  }
  #postComplete{
    margin-top: 3em;
  }

  #settings{
    margin-left: 10em;
  }

}




