.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Buttons */
    .signin-btn{
      width: 100%;
      margin: 0 auto;
      color: white;
      border:0;
      box-shadow: none;
      margin-bottom: 8px;
      padding: 11px;
    }
    .facebook-btn{
      background-color: #333396;
    }


/* Icons */
    .centerElement{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8em;
      width: 8em;
    }
    .addEntryIcon{
      background: url('../images/addEntry.svg') no-repeat center;
      position: absolute;
      cursor: pointer;
    }
    .addEntryIconSmall{
      background: url('../images/addEntry.svg') no-repeat center;
      /*position: absolute;*/
      padding: 2em;
      background-size: 32px;
    }
    .addEntryIconLarge{
      padding: 4em;
      background-size: 4em;
      margin: 0 auto;
    }
    .profile-gray{
      background: url('../images/profile-gray.svg') no-repeat center;
      padding: 1em;
      /*padding-top: 0em;*/
      background-size: 16px;
    }
    .profile-orange{
      background: url('../images/profile-orange.svg') no-repeat center;
      padding: 1em;
      background-size: 16px;
    }
    .completeCheck{
      background: url('../images/completeCheck.svg') no-repeat center;
      padding: 4em;
      background-size: 5em;
    }


.contentContainer{
  margin: 10px;
}
.continueFlow{
  color: #377CC4;
}


/* Pages */
  
  /* Post Complete */
    #postComplete{
      margin: 0 auto;
      text-align: center;
      margin-top:30%;
    }
    #postComplete > div:nth-of-type(1){
      /*overflow: hidden;*/
      margin: 4em;
    }
    #postComplete > div:nth-of-type(2){
      height: 3em;
      padding-top: 1em;
    }

  /* Profile */
    #profile .bar h2{
      display: inline-block;
      font-size: 14px;
      margin: 10px;
      margin-left: 5em;
    }
    #profile .addEntryIconSmall{
      bottom: 0;
      position: absolute;
      right: 0;
    }





