.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Buttons */
    .signin-btn{
      width: 90%;
      margin: 0 auto;
      color: white;
      border:0;
      box-shadow: none;
      margin: 10px;
      padding: 3px;
    }
    .facebook-btn{
      background-color: #333396;
    }


/* Icons */
    .centerElement{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8em;
      width: 8em;
    }
    .addEntryIcon{
      background: url('../images/addEntry.svg') no-repeat center;
      position: absolute;
      cursor: pointer;
    }
    .addEntryIconSmall{
      padding: 1em;
    }
    .addEntryIconLarge{
      /*width: 9em;*/
      /*height: 9em;*/
      padding: 4em;
    }
    .profile-gray{
      background: url('../images/profile-gray.svg') no-repeat center;
      padding: 2em;
      padding-top: 0em;
    }
    .profile-orange{
      background: url('../images/profile-orange.svg') no-repeat center;
      padding: 1em;
    }