
<!-- <ion-header-bar>
  <h1 class="title">Add Tags</h1>
  <button class="button button-icon continueFlow" ng-click="finish()">finish</button>
</ion-header-bar> -->

  <div class="bar bar-header bar-light">
    <h1 class="title">rigraf</h1>
    <button class="button button-icon continueFlow" ng-click="finish()">finish</button>
  </div>

<ion-content id="addtags">
  <main class="contentContainer">
    <h2>Add Tags</h2>
    <!-- <textarea ng-model="vm.writeContenta" placeholder="What's on your mind..."></textarea> -->
    <!-- <h2>Add tags</h2> -->

    <div ng-repeat="tag in tags track by $index" class="tagContainer" ng-click="toggleTag($index)">
      <span class="selectedTag" ng-if="tag.selected"></span>
      <h4>{{tag.label}}</h4>
    </div>

    <form ng-submit="addingTag()">
      <div>
        <input ng-model="formInput.customTag" placeholder="insert custom tag...">
        <span class="inputHelperText">must press 'enter'</span>
      </div>
    </form>

    <h4 ng-if="userTitle !== null">{{userTitle}}</h4>
    <form ng-submit="addingTitle()">
      <div>
        <input placeholder="Title" ng-model="formInput.titleOfPost"/>
        <span class="inputHelperText">must press 'enter'</span>
      </div>
    </form>


    <p ng-click="back()" class="backBtn">back to writing</p>

  </main>
</ion-content>
