
<ion-header-bar>
  <!-- <viewprofile></viewprofile> -->
  <h1 class="title"></h1>
  <button class="button button-icon" ng-click="selectCategory(vm.writeContenta)" ng-disabled="vm.writeContenta.length < 10" ng-class="vm.writeContenta.length >= 10 ? 'continueFlow':''">done</button>
</ion-header-bar>

<ion-content>
  <main class="contentContainer">
    <h4>{{vm.currentDate | date:'medium'}}</h4>
    <textarea msd-elastic ng-model="vm.writeContenta" placeholder="What's on your mind..."></textarea>
  </main>
</ion-content>

