<ion-view>
  <div class="bar bar-header bar-light">
    <h1 class="title">rigraf</h1>
    <button class="button button-icon" ng-click="selectCategory(content.writeContenta)" ng-disabled="content.writeContenta.length < 10" ng-class="content.writeContenta.length >= 10 ? 'continueFlow':''">next</button>
  </div>
<!--<ion-header-bar>
  <h1 class="title">rigraf</h1>
  <button class="button button-icon" ng-click="selectCategory(content.writeContenta)" ng-disabled="content.writeContenta.length < 10" ng-class="content.writeContenta.length >= 10 ? 'continueFlow':''">next</button>
</ion-header-bar>-->

<ion-content>
  <main class="contentContainer" id="writeContainer">
    <h4>{{currentDate | date:'medium'}}</h4>
    <textarea msd-elastic ng-model="content.writeContenta" placeholder="What's on your mind..."></textarea>
  </main>
</ion-content>

</ion-view>
